.intro {
    display: flex;
    flex-flow: column wrap;
}
.intro .box {
    text-align: center;
    margin: 100px 0;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
}
.intro .box img {
    width: 300px;
    margin-bottom: 20px;
}
.intro .img_title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.intro .continueBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
    background-color: var(--text-dark-brown);
    color: var(--background-ivory);
    border-radius: var(--border-radius-btn);
    width: 320px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
}
.intro .continueBtn i {
    position: absolute;
    right: 12px;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .intro .box {
        font-size: 14px;
        margin: 60px 0;
    }
    .intro .box img {
        width: 200px;
    }
    .intro .img_title {
        font-size: 20px;
    }
    .intro .continueBtn {
        margin-bottom: 50px;
        width: 230px;
        height: 40px;
        font-size: 14px;
    }
    .intro .continueBtn i {
        right: 12px;
        font-size: 16px;
    }
}