.intro {
    display: flex;
    flex-flow: column wrap;
}
.intro .box {
    text-align: center;
    margin: 100px 0;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
}
.intro .box img {
    width: 300px;
    margin-bottom: 20px;
}
.intro .img_title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.intro .continueBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
    border: 1px solid #000000;
    border-radius: var(--border-radius-btn);
    width: 200px;
    height: 50px;
    font-weight: 400;
}
.intro .continueBtn i {
    margin-left: 10px;
    margin-right: -10px;
    font-size: 30px;
}