.login_area {
    --btn-height: 45px;
}

.login_wrap {
    padding-top: 80px;
}

.login_area {
    display: flex;
    flex-flow: column wrap;
    width: 360px;
    margin: 0 auto;
}

.login_area .logo {
    font-family: var(--font-main-e), sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}
.login_area #login_form {
    display: flex;
    flex-flow: column wrap;
}
.login_area #login_form input {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    height: var(--btn-height);
    padding: 0 10px;
    margin-bottom: 10px;
    background-color: inherit;
}
.login_area #login_form #login_submit {
    height: var(--btn-height);
    font-size: 16px;
    background-color: inherit;
    background-color: var(--text-dark-brown);
    color: var(--background-ivory);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    cursor: pointer;
}

.login_area .option {
    display: flex;
    justify-content: space-between;
    color: rgb(88, 88, 88);
}
.login_area .option a {
    color: rgb(88, 88, 88);
}

.login_area > span {
    overflow: hidden;
    text-align: center;
    margin: 30px 0;
    font-family: var(--font-main-e), sans-serif;
}
  
.login_area > span:before,
.login_area > span:after {
    background-color: var(--border-color);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.login_area > span:before {
    right: 0.5em;
    margin-left: -50%;
}

.login_area > span:after {
    left: 0.5em;
    margin-right: -50%;
}

.login_area .social_login div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--border-color); */
    border-radius: var(--border-radius-btn);
    height: var(--btn-height);
    margin-bottom: 10px;
    cursor: pointer;
}
.login_area .social_login i,
.login_area .social_login img {
    position: absolute;
    left: 10px;
    font-size: 30px;
}
.login_area .social_login span {
    flex-grow: 1;
    text-align: center;
}

.login_area .social_login [name=google] {
    background-color: #fff;
    color: #6b6b6b;
}
.login_area .social_login [name=google] img {
    width: 30px;
}
.login_area .social_login [name=facebook] {
    background-color: #4267B2;
    color: #fff;
}

.login_area .registerBtn {
    background-color: var(--text-dark-brown);
    color: var(--background-ivory);
}

@media screen and (max-width: 1000px) {
    .login_wrap {
        padding-top: 20px;
    }

    .login_area {
        --btn-height: 40px;
    }
    
    .login_area {
        width: 100%;
    }
    
    .login_area .logo {
        font-size: 24px;
    }
    .login_area #login_form input {
        padding: 0 8px;
        font-size: 14px;
    }
    .login_area #login_form #login_submit {
        font-size: 14px;
    }
              
    .login_area .social_login div {
        font-size: 14px;
    }
    .login_area .social_login i {
        font-size: 22px;
    }

    .login_area .social_login [name=google] img {
        width: 22px;
    }
} 