.user_info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.user_info .img_area {
    position: relative;
}
.user_info .img_wrap {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.user_info .img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user_info .name_wrap {
    width: 100%;
}
.user_info .name {
    display: block;
    outline: none;
    font-size: 40px;
    font-weight: 200;
    margin: 20px 0;
    text-align: center;
}

.user_info .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 200px;
    padding: 5px 20px;
    margin: auto;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.user_info .menu i {
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .user_info {
        margin: 20px 0;
    }
    .user_info .img_wrap {
        width: 100px;
        height: 100px;
    }
    .user_info .name {
        font-size: 22px;
        margin: 14px 0;
    }

    .user_info .menu {
        width: 160px;
        padding: 5px 20px;
    }
    .user_info .menu i {
        font-size: 16px;
    }
} 



.content {
    display: flex;
    flex-flow: column wrap;
}
.content .nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 3px 100px;
    margin-bottom: 20px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    font-size: 16px;
}
.content .nav li {
    padding: 8px 12px;
    border-radius: 20px;
    transition: .1s;
    cursor: pointer;
}
.content .nav li.active {
    background-color: var(--hover-gray);

}
.content .nav li:hover {
    background-color: var(--hover-gray);
}

@media screen and (max-width: 1000px) {
    .content .nav {
        padding: 3px 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .content .nav li {
        padding: 8px 12px;
        border-radius: 20px;
        transition: .1s;
        cursor: pointer;
    }
    .content .nav li.active {
        background-color: var(--hover-gray);
    
    }
    .content .nav li:hover {
        background-color: var(--hover-gray);
    }
} 



/* 플레이리스트 */
.playlists tr {
    border-bottom: 1px solid var(--border-color);
}
.playlists tr:last-child {
    border: none;
}
.playlists tr td {
    vertical-align: middle;
    height: 80px;
}
.playlist .tracks {
    width: 210px;
}
.playlist .tracks ul {
    position: relative;
    height: 70px;
    margin-left: 10px;
}
.playlist .tracks li {
    position: absolute;
    top: 0;
    transition: .2s;
}
.playlist .tracks li:nth-child(1) {
    z-index: 9;
    left: 0;
}
.playlist .tracks li:nth-child(2) {
    z-index: 8;
    left: 20px;
}
.playlist .tracks li:nth-child(3) {
    z-index: 7;
    left: 40px;
}
.playlist .tracks li:nth-child(4) {
    z-index: 6;
    left: 60px;
}
.playlist .tracks li:nth-child(1).on {
    z-index: 99;
    left: 0;
}
.playlist .tracks li:nth-child(2).on {
    z-index: 98;
    left: 40px;
}
.playlist .tracks li:nth-child(3).on {
    z-index: 97;
    left: 80px;
}
.playlist .tracks li:nth-child(4).on {
    z-index: 96;
    left: 120px;
}
.playlist .tracks .img_wrap {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.playlist .tracks .img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.8);
}
.playlist .tracks .img_wrap.moreTracks {
    background-color: #DEDEDE;
}
.playlist .tracks .img_wrap.moreTracks p {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-family: var(--font-main-e);
    font-weight: 900;
    color: #fff;
}
.playlist .tracks .music_info {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate( -50%, calc( -100% - 5px ) );
    width: 100px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
}
.playlist .tracks .music_info .title {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.playlist .tracks .music_info .artist {
    font-size: 12px;
    font-weight: 400;
}
.playlist .tracks .music_info.on {
    display: block;
}
.playlist .title {
    text-align: left;
    font-size: 18px;
}
.playlist .title a:hover {
    text-decoration: underline;
}
.playlist .title .listTitle {
    display: inline;
}
.playlist .title i {
    font-size: 16px;
    margin-left: 10px;
}
.playlist .menu {
    position: relative;
}
.playlist .menu i {
    font-size: 20px;
    cursor: pointer;
}
.playlist .menu .dropdown {
    display: none;
    position: absolute;
    right: 0;
    width: 200px;
    padding: 4px;
    border-radius: var(--border-radius-content);
    background-color: #fff;
    text-align: left;
    z-index: 1;
}
.playlist .menu .dropdown li {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    transition: .1s;
    cursor: pointer;
}
.playlist .menu .dropdown li:hover {
    background-color: var(--hover-gray);
}
.playlist .menu .dropdown i {
    margin-right: 10px;
}

/* 플레이리스트 추가 모달 */
.playlists .addPlaylistBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 30px;
    font-size: 14px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    margin-left: auto;
    cursor: pointer;
}
.playlists .addPlaylistBtn i {
    margin-left: 10px;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .playlists tr td {
        height: 70px;
    }
    .playlist .tracks {
        width: 75px;
    }
    .playlist .tracks ul {
        height: 60px;
    }
    .playlist .tracks li:nth-child(1) {
        left: 0;
    }
    .playlist .tracks li:nth-child(2) {
        left: 0;
        opacity: 0;
    }
    .playlist .tracks li:nth-child(3) {
        left: 0;
        opacity: 0;
    }
    .playlist .tracks li:nth-child(4) {
        left: 0;
        opacity: 0;
    }
    .playlist .tracks li:nth-child(1).on {
        left: 0;
    }
    .playlist .tracks li:nth-child(2).on {
        left: 40px;
        opacity: 1;
    }
    .playlist .tracks li:nth-child(3).on {
        left: 80px;
        opacity: 1;
    }
    .playlist .tracks li:nth-child(4).on {
        left: 120px;
        opacity: 1;
    }
    .playlist .tracks .img_wrap {
        width: 60px;
        height: 60px;
    }
    .playlist .title {
        font-size: 16px;
    }
    .playlist .title .listTitle {
        font-size: 14px;
    }
    .playlist .title i {
        margin-left: 5px;
    }
    .playlist .menu i {
        font-size: 18px;
    }
    .playlist .menu .dropdown {
        width: 180px;
    }
    .playlist .menu .dropdown li {
        font-size: 12px;
    }
    .playlist .menu .dropdown i {
        margin-right: 6px;
        font-size: 16px;
    }
    
    /* 플레이리스트 추가 모달 */
    .playlists .addPlaylistBtn {
        width: 130px;
        height: 30px;
        font-size: 12px;
    }
    .playlists .addPlaylistBtn i {
        margin-left: 6px;
        font-size: 18px;
    }
} 



.myActivity table {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
}
.myActivity th {
    padding: 8px 0;
}
.myActivity th:nth-child(1) {
    width: 80px;
}
.myActivity th:nth-child(2) {
    width: 600px;
}
.myActivity tbody tr td {
    padding: 12px 0;
}
.myActivity tbody tr {
    border-top: 1px solid var(--border-color);
}
.myActivity tbody td:nth-child(1) {
    font-size: 12px;
}
.myActivity tbody td:nth-child(2) {
    text-align: left;
}
.myActivity tbody td a {
    margin-right: 10px;
}
.myActivity tbody td a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .myActivity thead {
        display: none;
    }
    .myActivity tbody tr {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        padding: 8px 0;
        font-size: 12px;
        line-height: 20px;
    }
    .myActivity tbody tr td {
        padding: 0;
    }
    .myActivity tbody td:nth-child(1) {
        display: none;
    }
    .myActivity tbody td:nth-child(2) {
        width: 1px;
        flex: 1 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 6px;
        margin-right: 30px;
        font-size: 14px;
    }
    .myActivity tbody td:nth-child(6) {
        display: none;
    }
    .myActivity tbody .reply_cnt {
        position: absolute;
        right: 0;
    }
    .myActivity tbody td span.mobile {
        display: inline-block;
        margin-left: 10px;
        border-left: 1px solid var(--border-color);
    }
    .myActivity tbody td span.mobile i {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 4px;
    }

    .myActivity .writeBtn {
        font-size: 14px;
    }
} 



/* 내가 쓴 글 */
.myPosts {
    display: none;
}


/* 좋아요 표시한 글 */
.likePosts {
    display: none;
}



/* 모달 */
/* 플레이리스트 추가 모달 */
.addPlaylistModal .playlistName label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}
.addPlaylistModal .playlistName input[type=text] {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.addPlaylistModal .playlistSecret input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 8px;
}
.addPlaylistModal .playlistSecret {
    /* display: flex; */
    flex-flow: row;
    align-items: center;
}
.addPlaylistModal .playlistSecret label {
    font-size: 18px;
    font-weight: 400;
}
.addPlaylistModal .playlistSecret span {
    color: #7e7e7e;
    font-size: 14px;
}
.addPlaylistModal #makeNewPlaylist {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    background-color: inherit;
    padding: 5px 10px;
    margin-top: 30px;
    margin-left: auto;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .addPlaylistModal .playlistName input[type=text] {
        padding: 8px;
        margin-bottom: 16px;
        font-size: 16px;
    }
    .addPlaylistModal .playlistSecret input[type=checkbox] {
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    .addPlaylistModal .playlistSecret label {
        font-size: 16px;
    }
    .addPlaylistModal .playlistSecret span {
        font-size: 12px;
    }
    .addPlaylistModal #makeNewPlaylist {
        padding: 4px 8px;
        margin-top: 25px;
        font-size: 14px;
    }
}


/* 유저 정보 수정 모달 */
.editUserInfoModal .modal_content {
    width: 400px;
}
.editUserInfoModal h2 {
    font-size: 14px;
    margin-bottom: 5px;
}
.editUserInfoModal .editName {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
.editUserInfoModal .editName label {
    display: block;
}
.editUserInfoModal .editName input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    padding: 5px;
}
.editUserInfoModal .drag_area {
    display: none;
}
.editUserInfoModal .drag_area.active {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border: 3px dashed #8b8b8b;
    border-radius: 20px;
    font-size: 18px;
    color: #8b8b8b;
}
.editUserInfoModal .drag_area.drag_over {
    border: 3px solid #8b8b8b;
    /* background-color: #000000; */
}
.editUserInfoModal .drag_area input {
    display: none;
}
.editUserInfoModal .drag_area i {
    font-size: 40px;
    margin-bottom: 10px;
}
.editUserInfoModal .drag_area label {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    background-color: inherit;
    margin-top: 20px;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
}
.editUserInfoModal .imgPreview {
    display: none;
}
.editUserInfoModal .imgPreview.active {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.editUserInfoModal .imgPreview .img_wrap {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.editUserInfoModal .imgPreview .img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.editUserInfoModal .imgPreview button {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    background-color: inherit;
    margin: 10px 0;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
}
.editUserInfoModal .submitBtn {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    background-color: inherit;
    margin-top: 20px;
    margin-left: auto;
    padding: 4px 10px;
    font-size: 14px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .editUserInfoModal .modal_content {
        width: calc( 100vw - 20px );
    }
    .editUserInfoModal .drag_area p {
        display: none;
    }
    .editUserInfoModal .drag_area.active {
    }
    .editUserInfoModal .drag_area i {
        font-size: 80px;
        margin-bottom: 0px;
        opacity: .7;
    }
    .editUserInfoModal .imgPreview button {
        padding: 4px 8px;
    }
}