/* 게시글 */
.post {
    display: none;
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-content);
    padding: var(--content-padding);
    margin-bottom: 20px;
}
.post_info h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.post_info .bar {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 100%;
    font-size: 14px;
    padding: 10px 0;
    margin: 20px 0;
}
.post_info .bar > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.post_info .bar div i {
    margin-right: 5px;
}
.post_info .bar .left span {
    margin-right: 15px;
}
.post_info .bar .author a:hover {
    text-decoration: underline;
}
.post .content {
    clear: both;
    white-space: pre-wrap;
    line-height: 25px;
}
.post .postMenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.post .likes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.post .likes i {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.post .likes i.active {
    display: inline-block;
}
.post .likes i.ri-heart-fill {
    color: var(--emphasize-orange);
}
.post .likes span {
    margin-left: 3px;
}
.post .edit_menu {
    display: inline-block;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 10px;
    transition: .1s;
}
.post .edit_menu i {
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: .1s;
}
.post .edit_menu i:hover {
    background-color: var(--hover-gray);
}

@media screen and (max-width: 1000px) {
    .post {
        padding: 0;
        border: none;
        margin-bottom: 10px;
    }
    .post_info h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .post_info .bar {
        font-size: 12px;
        padding: 8px;
        margin: 10px 0;
    }
    .post .content {
        font-size: 14px;
        line-height: 20px;
        /* padding: 0 10px; */
    }
    .post .postMenu {
        margin-top: 10px;
    }
    .post .likes i {
        font-size: 24px;
    }
    .post .likes span {
        font-size: 14px;
    }
} 



/* 댓글 */
.reply {
    display: none;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-content);
    padding: var(--content-padding);
}

.reply_info p {
    font-size: 14px;
    margin-bottom: 15px;
}

.my_reply form {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}
.my_reply .search_area {
    position: relative;
}
.my_reply input[type=text] {
    width: 100%;
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid rgb(59, 59, 59);
    padding: 8px 0;
}
.my_reply #close_search_result {
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 22px;
    cursor: pointer;
}
.my_reply #search_result {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 400px;
    overflow: scroll;
    border-radius: var(--border-radius-content);
    background-color: #ffffff;
    padding: 8px;
    margin-top: 10px;
    font-size: 14px;
    z-index: 99;
}
.my_reply #search_result li {
    border-bottom: 1px solid rgb(224, 224, 224);
    border-radius: var(--border-radius-btn);
    padding: 10px 6px;
    transition: .1s;
    cursor: pointer;
}
.my_reply #search_result li:hover:not(.noResult) {
    background-color: var(--hover-gray);
}
.my_reply #search_result li:last-child {
    margin-bottom: 0;
    border: none;
}
.my_reply #search_result .noResult {
    font-style: italic;
    color: gray;
}
.my_reply .video_confirm {
    display: none;
}
.my_reply .embed_youtube {
    position: relative;
    width: 420px;
    height: 236px;
    flex-shrink: 0;
    border-radius: var(--border-radius-content);
    overflow: hidden;
}
.my_reply .embed_youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.my_reply .video_info {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    padding-left: 20px;
}
.my_reply .video_info label {
    font-size: 14px;
    font-family: var(--font-main-e), sans-serif;
    font-weight: 400;
}
.my_reply .video_info input[type=text] {
    margin-bottom: 15px;
}
.my_reply .comment_area {
    position: relative;
}
.my_reply .comment_area p {
    position: absolute;
    right: 0;
    top: 35px;
    text-align: right;
    font-size: 12px;
    color: rgb(160, 160, 160);
    margin-top: 5px;
}
.my_reply .video_info .btns {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.my_reply .video_info .btns button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
}

.replies .playlist_control {
    margin: 10px 0;
}
.replies .playlist_control .playAllBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: none;
    border-radius: var(--border-radius-btn);
    font-size: 14px;
    cursor: pointer;
}
.replies .playlist_control .playAllBtn i {
    font-size: 20px;
}

.replies ul {
    display: flex;
    flex-flow: row wrap;
}
.replies li {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-content);
    width: 306px;
    padding: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.replies li:nth-child(3n) {
    margin-right: 0;
}
.reply_music {
    display: flex;
    flex-direction: column;
    font-family: var(--font-main-e), sans-serif;
}
.reply_music > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.reply_music .img_wrap {
    position: relative;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.reply_music .img_wrap i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    color: #ffffff;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .7));
    filter: drop-shadow( 0 0 5px rgba(0, 0, 0, .7));
    cursor: pointer;
}
.reply_music .img_wrap i.active {
    display: block;
}
.reply_music img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(0deg) scale(1.8);
}
.reply_music img.active {
    -webkit-animation:spinCD 6s linear infinite;
    -moz-animation:spinCD 6s linear infinite;
    animation:spinCD 6s linear infinite;
}
.reply_music .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 5px;
}
.reply_music .artist {
    font-size: 14px;
    font-weight: 400;
}
.reply_music .btns {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    padding: 4px 20px;
}
.reply_music .btns > i {
    font-size: 22px;
    cursor: pointer;
}
.reply_music .likeBtn {
    display: none;
}
.reply_music .likeBtn.active {
    display: block;
}
.reply_music .likeBtn.ri-heart-fill {
    color: var(--emphasize-orange);
}

.reply_comment {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reply_comment > * {
    flex-grow: 1;
}
.reply_comment .comment {
    font-size: 14px;
    line-height: 18px;
    margin: 15px 0;
}
.reply_comment .time {
    text-align: right;
}
.reply_comment .time > * {
    display: inline-block;
    vertical-align: middle;
}
.reply_comment .comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reply_author {
    flex-grow: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 14px;
}
.reply_author a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .reply {
        border: none;
        padding: 0;
        margin-top: 20px;
    }
    
    .reply_info p {
        margin-bottom: 6px;
        font-size: 12px;
    }

    .my_reply  form {
        margin-bottom: 10px;
    }
    .my_reply  #close_search_result  {
        font-size: 20px;
    }
    .my_reply #search_result {
        padding: 5px;
        font-size: 12px;
    }
    .my_reply #search_result li {
        padding: 8px 5px;
    }
    .my_reply .video_confirm {
        flex-flow: column wrap;
    }
    .my_reply .embed_youtube {
        width: 100%;
        padding-bottom: 56.25%
    }
    .my_reply .video_info {
        padding-left: 0;
        margin-top: 10px;
    }
    .my_reply .video_info .btns button {
        padding: 4px 8px;
        font-size: 14px;
    }

    .replies .playlist_control .playAllBtn {
        padding: 4px 8px;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius-btn);
        font-size: 12px;
        cursor: pointer;
    }
    .replies .playlist_control .playAllBtn i {
        font-size: 16px;
    }

    .replies li {
        width: 100%;
        padding: 10px;
        margin-right: 0px;
    }
    .reply_music .img_wrap {
        width: 80px;
        height: 80px;
    }
    .reply_music .img_wrap i {
        font-size: 40px;
    }
    .reply_music .title {
        font-size: 16px;
    }
    .reply_music .artist {
        font-size: 12px;
    }
    .reply_music .btns > i {
        font-size: 20px;
    }

    .reply_comment .comment {
        margin: 12px 0;
    }

    .reply_author {
        font-size: 12px;
    }
} 



.noResult {
    display: none;
    padding: 8px;
}


/* 게시물이 존재하지 않을 때 알림 표시 */
.noPost {
    display: none;
    padding: 30px 0;
}


/* 모달 */
/* 플레이리스트에 추가 모달 */
.addToPlaylistModal .playlists > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 12px;
}
.addToPlaylistModal .playlists > div:last-child {
    margin-bottom: 0;
}
.addToPlaylistModal .playlists input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.addToPlaylistModal .playlists i {
    font-size: 20px;
    margin-left: 10px;
}
.addToPlaylistModal .noPlaylist p {
    font-size: 18px;
    line-height: 25px;
}
.addToPlaylistModal .noPlaylist a {
    text-decoration: underline;
    transition: .1s;
}
.addToPlaylistModal .noPlaylist a:hover {
    color: var(--hover-gray);
}

@media screen and (max-width: 1000px) {
    .addToPlaylistModal .playlists > div {
        margin-bottom: 10px;
    }
    .addToPlaylistModal .playlists input[type=checkbox] {
        width: 16px;
        height: 16px;
    }
    .addToPlaylistModal .playlists i {
        font-size: 16px;
    }
    .addToPlaylistModal .noPlaylist p {
        font-size: 16px;
    }
}

/* 댓글 수정 모달 */
.editReplyModal .modal_content {
    width: 500px;
}
.editReplyModal .video_info {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}
.editReplyModal .video_info label {
    font-size: 14px;
    font-family: var(--font-main-e), sans-serif;
    font-weight: 400;
}
.editReplyModal .video_info input[type=text] {
    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
    width: 100%;
    padding: 8px 0;
    margin-bottom: 20px;
}
.editReplyModal .comment_area {
    position: relative;
}
.editReplyModal .comment_area p {
    position: absolute;
    right: 0;
    top: 35px;
    text-align: right;
    font-size: 12px;
    color: rgb(160, 160, 160);
    margin-top: 5px;
}
.editReplyModal .video_info .btns {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.editReplyModal .video_info .btns button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    /* background-color: inherit; */
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .editReplyModal .modal_content {
        width: calc( 100% - 20px);
    }
}