.signup_wrap {
    margin-top: 80px;
}

.signup_area {
    width: 500px;
    margin: 0 auto;
}

.signup_area .logo {
    margin-bottom: 50px;
}
.signup_area h1 {
    font-family: var(--font-main-e), sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 5px;
}
.signup_area h2 {
    font-size: 20px;
}

#signup_form > div {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
#signup_form label {
    width: 120px;
}
#signup_form input {
    flex-grow: 1;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    background-color: inherit;
    padding: 10px 10px;
    font-size: 16px;
}
#signup_form > div > span {
    position: absolute;
    left: 120px;
    top: 50px;
    font-size: 14px;
    color: rgb(209, 0, 0);
}
#signup_form > div > span.correct {
    color: rgb(31, 207, 7);
}

#signup_form #signup_submit {
    display: flex;
    margin-left: auto;
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .signup_wrap {
        margin-top: 20px;
    }
    
    .signup_area {
        width: 100%;
    }
    
    .signup_area .logo {
        margin-bottom: 20px;
    }
    .signup_area h1 {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .signup_area h2 {
        font-size: 18px;
    }
    
    #signup_form > div {
        flex-flow: column wrap;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    #signup_form label {
        margin-bottom: 4px;
        font-size: 14px;
    }
    #signup_form input {
        width: 100%;
        padding: 8px;
        font-size: 12px;
    }
    #signup_form > div > span {
        left: 0;
        top: 55px;
        font-size: 12px;
    }    
} 