/* 레이아웃 */
.container {
    display: flex;
    flex-flow: row wrap;
}
.sidebar {
    width: 260px;
}
.content {
    width: 550px;
}

@media screen and (max-width: 1000px) {
    .container {
        flex-flow: column wrap;
    }
    .sidebar {
        width: 100%;
    }
    .content {
        width: 100%;
    }
} 



/* 설정 메뉴 리스트 */
.setttings_menu a {
    display: block;
}
.setttings_menu li:first-child {
    padding-top: 0;
}
.setttings_menu li {
    display: inline-block;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 18px;
}
.setttings_menu li.active {
    border-bottom: 2px solid var(--border-color);
}

@media screen and (max-width: 1000px) {
    .setttings_menu {
        margin: 24px 0;
    }
    .setttings_menu a {
        display: inline-block;
    }
    .setttings_menu li {
        padding: 10px 0;
        margin-bottom: 0;
        margin-right: 16px;
        font-size: 16px;
    }
} 



/* 설정 레이아웃 */
.setting {
    display: flex;
    align-items: center;
}

/* 버튼형 설정 */
.setting.by_btn {
    flex-flow: row nowrap;
}
.setting.by_btn .setting_explain {
    flex-grow: 1;
}



/* 설정 디자인 */
.content h1 {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 700;
}

.setting {
    margin-bottom: 40px;
}
.setting h2 {
    margin-bottom: 10px;
    font-size: 20px;
}
.setting .setting_explain p {
    font-size: 16px;
}

.setting .setting_control button {
    padding: 5px 15px;
    outline: none;
    background-color: inherit;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .content h1 {
        margin-bottom: 24px;
        font-size: 20px;
    }
    
    .setting h2 {
        margin-bottom: 8px;
        font-size: 18px;
    }
    .setting .setting_explain p {
        font-size: 14px;
    }
    
    .setting .setting_control button {
        padding: 4px 10px;
        font-size: 14px;
    }
} 