/* css 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #faf2e9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    /* color: #000000; */
}

.mobile {
    display: none;
}
@media screen and (max-width: 1000px) {
    .mobile {
        display: block;
    }
} 

* {
    box-sizing: border-box;
    color: #211304;

}


/* 변수 */
:root {
    --header-height: 70px; 
    --header-height-mobile: 50px; 
    --content-padding: 30px;
    --content-width: 1000px;
    --border-radius-content: 10px;
    --border-radius-btn: 5px;
    --border-color: #8f8f8f;
    --emphasize-orange: #ff5e58;
    --hover-gray: #dfdfdfb3;
    --font-main-e: 'Montserrat';
    --font-main-k: 'Noto Sans KR';
}


body, input, textarea, button {
    font-family: var(--font-main-k), sans-serif;
}


/* 회전 애니메이션 */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes spinCD { 100% { -moz-transform: rotate(360deg) scale(1.8); } }
@-webkit-keyframes spinCD { 100% { -webkit-transform: rotate(360deg) scale(1.8); } }
@keyframes spinCD { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg) scale(1.8); } }


/* 레이아웃 */
.wrap {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    z-index: 9;
}
.header_wrap {
    width: var(--content-width);
    height: 100%;
    margin: 0 auto;
}
.container {
    width: var(--content-width);
    margin: 0 auto;
    margin-top: var(--header-height);
}
footer {
    margin-top: auto;
}
.footer_wrap {
    width: var(--content-width);
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .header_wrap {
        width: 100%;
    }
    .container {
        width: 100%;
        padding: 0 10px;
        margin-top: var(--header-height-mobile);
    }
    .footer_wrap {
        width: 100%;
    }
} 



/* header */
header {
    background-color: #FAF2E9;
}
header nav {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}
header .home {
    font-family: var(--font-main-e), sans-serif;
    font-size: 25px;
    font-weight: 800;
}
header .board_nav {
    display: block;
}
header .links {
    display: flex;
    font-family: var(--font-main-e), sans-serif;
}
header .links a {
    padding: 10px;
    margin: 0 5px;
    border-radius: 20px;
    transition: .1s;
    cursor: pointer;
}
header .links a:hover {
    background-color: var(--hover-gray);
}
header .user {
    display: flex;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
}
header .user > a {
    margin-left: 5px;
    padding: 10px;
    border-radius: 20px;
    transition: .1s;
}
header .user a:hover {
    background-color: var(--hover-gray);
}
header .user > div {
    margin-left: 10px;
}
header .user .notice i {
    position: relative;
    font-size: 25px;
    padding: 8px;
    border-radius: 50%;
    transition: .1s;
    cursor: pointer;
}
header .user .notice i:hover {
    background-color: var(--hover-gray);
}
header .user .notice i .notice_cnt {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 5px;
    top: 0;
    right: 0;
    font-family: var(--font-main-e);
    font-size: 10px;
    color: #fff;
    background-color: var(--emphasize-orange);
    border-radius: 20px;
}
header .user .notice i .notice_cnt.active {
    display: flex;
}
header .user .noticeModal {
    position: absolute;
    top: 70px;
    right: 0;
    display: none;
    height: 80vh;
    width: 350px;
    background-color: #fff;
    border-radius: var(--border-radius-content);
    padding: 0 8px;
    z-index: 99;
    overflow: scroll;
}
header .user .noticeModal li {
    padding: 4px;
    margin-top: 8px;
    border-radius: var(--border-radius-content);
    transition: .1s;
    cursor: pointer;
}
header .user .noticeModal li:last-child {
    border-bottom: none;
    margin-bottom: 10px;
}
header .user .noticeModal li:hover {
    background-color: var(--hover-gray);
}
header .user .noticeModal li.checked {
    opacity: .5;
}
header .user .noticeModal .title {
    font-size: 16px;
}
header .user .noticeModal .description {
    padding: 8px 0;
    color: #616161;
    font-size: 14px;
}
header .user .noticeModal .date {
    color: #616161;
    font-size: 14px;
}
header .user .img_wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
header .user .img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header .user .user_menu i {
    border-radius: 50%;
    font-size: 22px;
    padding: 5px;
    transition: .1s;
    cursor: pointer;
}
header .user .user_menu i:hover {
    background-color: var(--hover-gray);
}

/* 유저 메뉴 */
header .user .user_menu ul {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 150px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 7px;
    font-size: 16px;
    z-index: 99;
}
header .user .user_menu ul li {
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
}
header .user .user_menu ul li:hover {
    background-color: var(--hover-gray);
}
header .dropdownToggleBtn {
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    header {
        height: var(--header-height-mobile);
        padding: 0 10px;
    }
    header .home {
        font-size: 20px;
    }
    header .board_nav {
        display: none;
        position: absolute;
        top: 50px;
        background-color: #fff;
        width: 100%;
        padding: 5px 0;
        border-radius: var(--border-radius-content);
        -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.26); 
        box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.26);
        font-size: 14px;
    }
    header .links {
        flex-flow: column nowrap;
    }
    header .board_nav a {
        padding: 10px;
        border-radius: 10px;
    }
    header .user {
        display: none;
    }
}



/* footer */
.footer_wrap {
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
footer .logo {
    font-family: var(--font-main-e);
    font-size: 25px;
    font-weight: 800;
}
footer .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 15px 0;
}
footer .menu li {
    padding: 0 10px;
    border-right: 1px solid #000000;
}
footer .menu li:last-child {
    border-right: none;
}
footer .menu li a {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    transition: .1s;
}
footer .menu li a:hover {
    background-color: var(--hover-gray);
}
footer .site_info p {
    padding: 5px;
}
@media screen and (max-width: 1000px) {
    .footer_wrap {
        font-size: 12px;
    }
    footer .logo {
        font-size: 18px;
    }
    footer .menu {
        margin: 10px 0;
    }
}


/* 플레이어 */
/* 유튜브 iframe */
#player {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    border-radius: 15px;
    max-width: 500px;
    max-height: 281px;
    z-index: 9;
}

.player_bar_wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}
.player_bar {
    background-color: #FAF2E9;
    /* background-color: #faf2e980;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
}
.player_bar_progress_wrap {
    position: relative;
    background-color: #bebebe;
    height: 4px;
    transition: .1s;
    cursor: pointer;
}
.player_bar_progress_wrap:hover {
    height: 14px;
}
.player_bar_progress_wrap .progress {
    height: 100%;
    width: 0;
    background-color: #000;
    transition: .1s;
}
.player_bar_progress_wrap .timeMarker {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #fff;
}
.player_bar_progress_wrap .timeMarker.active {
    display: block;
}
.player_bar_progress_wrap .timeMarker span {
    position: absolute;
    bottom: 18px;
    background-color: #ffffff;
    padding: 5px;
    transform: translateX(-50%);
    border-radius: 10px;
    font-size: 14px;
}
.player_bar_content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: var(--content-width);
    height: 67px;
    margin: 0 auto;
}
.player_bar_content i {
    font-size: 25px;
}
.player_bar .control {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 120px;
}
.player_bar .control .playBtn,
.player_bar .control .pauseBtn {
    display: none;
    cursor: pointer;
}
.player_bar .control .playBtn.active,
.player_bar .control .pauseBtn.active {
    display: block;
}
.player_bar .control .previousBtn,
.player_bar .control .nextBtn {
    opacity: .5;
}
.player_bar .control .previousBtn.active,
.player_bar .control .nextBtn.active {
    opacity: 1;
    cursor: pointer;
}
.player_bar .track {
    margin: 0 35px;
}
.player_bar .track .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}
.player_bar .track .artist {
    font-size: 14px;
    font-weight: 400;
}
.player_bar .timeInfo {
    font-size: 14px;
    color: #383838;
}
.player_bar .video_toggle {
    margin-left: auto;
}
.player_bar .video_toggle .video_toggleBtn {
    opacity: .5;
    cursor: pointer;
}
.player_bar .video_toggle .video_toggleBtn.active {
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    #player {
        bottom: 60px;
        right: 10px;
        width: calc( 100vw - 20px);
        height: calc( (100vw - 20px) / 100 * 56.25 );
    }

    .player_bar_content {
        width: 100%;
        height: 50px;
        padding: 0 10px;
    }
    .player_bar_content i {
        font-size: 20px;
    }
    .player_bar .control {
        width: 100px
    }
    .player_bar .track {
        margin: 0 20px;
    }
    .player_bar .track .title {
        font-size: 16px;
        margin-bottom: 4px;
    }
    .player_bar .track .artist {
        font-size: 12px;
    }
    .player_bar .timeInfo {
        display: none;
    }
} 



/* 모달 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000007e;
    z-index: 999;
}
.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    /* overflow: hidden; */
}
.modal_title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
}
/* .modal input,
.modal button {
    background-color: inherit;
    background: none;
} */

.modal .submitBtn {
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    background-color: inherit;
    padding: 3px 10px;
    cursor: pointer;
}


.modal .loader {
    display: none;
}
.modal .loader.active {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* width: 100vw;
    height: 100vh; */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.modal .loader i {
    font-size: 40px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@media screen and (max-width: 1000px) {
    .modal_content {
        padding: 14px;
        width: calc( 100% - 20px );
    }
    .modal_title {
        font-size: 20px;
        margin-bottom: 16px;
    }
    
    .modal .submitBtn {
    }        
} 


/* 공통 디자인 */
.dsdw {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.26); 
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.26);
}



/* 토글 스위치 */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    /* width: 60px; */
    width: 50px;
    /* height: 34px; */
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--hover-gray);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--emphasize-orange);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--emphasize-orange);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }