.board_info {
    margin-bottom: 10px;
}
.board_info h2 {
    font-family: var(--font-main-e), sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.write_helper,
.editor {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-content);
    display: flex;
    padding: var(--content-padding);
}
.write_helper {
    margin-bottom: 20px;
    flex-flow: row wrap;
    justify-content: space-between;
}
.editor {
    flex-flow: column wrap;
}

.write_helper .bgm_wrap {
    display: flex;
    flex-flow: row wrap;
}
.write_helper .bgm_wrap p {
    margin-bottom: 10px;
    flex: 1 100%;
}
.write_helper .bgm {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-btn);
    padding: 8px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: .1s;
}
.write_helper .bgm span {
    transition: .1s;
}
.write_helper .bgm.nowPlaying {
    background-color: var(--emphasize-orange);
    border: 1px solid var(--emphasize-orange);
}
.write_helper .bgm.nowPlaying span {
    color: #fff;
}
.write_helper .guide_wrap {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.write_helper .guide_wrap label {
    margin: 0 5px;
}
.write_helper .guide_info {
    font-size: 20px;
    cursor: pointer;
}
.write_helper .guide {
    position: absolute;
    display: none;
    right: 0;
    top: 45px;
    width: 200px;
    padding: 8px;
    background-color: #fff;
    line-height: 20px;
    font-size: 14px;
    border-radius: 10px;
}
.write_helper .guide.active {
    display: block;
}

.write_helper .emotions_wrap {
    flex: 1 100%;
}
.write_helper .emotionsToggleBtn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    padding-top: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.write_helper .emotionsToggleBtn i {
    font-size: 20px;
}
.write_helper .emotions {
    display: none;
    max-height: 600px;
    overflow: scroll;
}
.write_helper .emotions span {
    display: block;
    background-color: var(--hover-gray);
    padding: 5px;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 14px;
}
.write_helper .emotions li {
    display: inline-block;
    margin: 4px;
    padding: 8px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    transition: .1s;
}
.write_helper .emotions li:hover {
    background-color: var(--hover-gray);
}
.write_helper .emotions li.active {
    background-color: var(--emphasize-orange);
    color: #fff;
}
.write_helper .selectedEmotions span {
    display: inline-block;
    background-color: var(--emphasize-orange);
    color: #fff;
    margin: 4px;
    padding: 8px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
}
.write_helper .selectedEmotions span:first-child {
    margin-top: 10px;
}


.editor > div {
    flex-grow: 1;
}
.editor #subject {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
    background-color: inherit;
}
.editor #content {
    width: 100%;
    min-height: 400px;
    resize: none;
    border: none;
    outline: none;
    font-size: 16px;
    overflow: hidden;
    background-color: inherit;
}

.editor hr {
    width: 100%;
    border-top: 1px solid rgb(189, 189, 189);
    margin-bottom: 20px;
}

.editor .option {
    display: flex;
    justify-content: space-between;
}
.editor label[for=anonymity] {
    font-size: 16px;
}
.editor .option button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid #000000;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
}
.editor .option #edit_post {
    display: none;
}
.backToList {
    margin-top: 20px;
    display: flex;
}
.backToList > div {    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: var(--border-radius-btn);
    padding: 8px 10px;
    margin-left: auto;
    cursor: pointer;
}
.backToList > div i {
    font-size: 20px;
    margin-right: 5px;
}